<nav id="navbar">
    <a href="/" class="navbar-active">
    {% if site.favicon.path and site.favicon.path != "" and site.favicon.path != nil %}
    <img src="{{ site.favicon.path }}">
    {% endif %}
        {{ site.title }}
    </a>
    {% for nav in site.nav %}
    <a href="{{ nav.path }}">
        {{ nav }}
    </a>
    {% endfor %}
    <a href="javascript:void(0);" class="navbar-icon" onclick="toggle_navbar()">&#9776;</a>
    <script>
        function toggle_navbar() {
            var x = document.getElementById("navbar");
            if (x.className === "") {
              x.className += "responsive";
            } else {
              x.className = "";
            }
        } 
    </script>
</nav>
