html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    
    margin: 0;
    background-color: $background;

    overflow: none;
    overflow-wrap: break-word;

    body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    
        height: 100%;
        width: 100%;
        max-width: 100%;
        
        margin: 0;
        
        overflow: none;

        color: $text;
        font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
        font-language-override: normal;
        font-kerning: auto;
        font-feature-settings: 'kern', 'liga', 'dlig', 'hlig', 'cswh';
        font-synthesis: weight style;
        font-size: $font_size;
    
        article {
            box-sizing: border-box;
            
            width: calc(100% - 2em);
        
            background-color: $foreground;
        
            border-radius: $border_radius;

            display: flex;
            flex-direction: column;
            flex-grow: 1;

            max-width: 1000px;
            margin: 1em auto;
            
            padding: 2em 2em;

            overflow-y: scroll;

            // scrollbar
            scrollbar-color: $accent $foreground;
            scrollbar-width: thin;

            &::-webkit-scrollbar{
                width: 8px;
            }
        
            &::-webkit-scrollbar-track {
                background: $foreground;
            }
        
            &::-webkit-scrollbar-thumb {
                background: $accent;
            }

            #title {
                font-size: 3em;
                overflow-wrap: break-word;
                max-width: 100%;
            }
        }
    }
}
