figure {
    margin: 0;
    img {
        max-width: 100%;
        border-radius: $border_radius;
        margin: 0 auto;
        padding: 0 auto;
    }
    figcaption {
        text-align: center;
        color: $alt_text;
    }
}
