figure {
    width: 100%;
    margin: 0;
    padding: 0;
    img {
        display: block;
        max-width: 100%;
        border-radius: $border_radius;
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    figcaption {
        width: 100%;
        text-align: center;
        color: $alt_text;
        padding: 0.5em 0em;
    }
}
