figure {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    img {
        max-width: 100%;
        border-radius: $border_radius;
        margin: 0 auto;
        padding: 0 auto;
    }
    figcaption {
        text-align: center;
        color: $alt_text;
    }
}
