.heading {
    padding: 0.5em 0em 0em;
}

a {
    color: $alt_text;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

p, li {
    line-height: 2em;
}
